.Rproj.user
.Rhistory
.RData
#process-new.R#

*.Rproj

*.dropbox
.dropbox

SignupSheet/*.pdf
PaymentSheet/*.pdf
ReportOnTheCoop/*.pdf

.maker/
.remake/

SignupSheet/accounts_active.csv
SignupSheet/signuptable.tex